@use "./mixin" as c;

.main-section {
  max-width: 1145rem;
  margin-inline: auto;
  padding-bottom: 6rem;

  display: grid;
  gap: 3rem;

  @include c.respond(tab-port) {
    grid-template-columns: 1fr 47%;
    align-items: end;
  }

  @include c.respond(desktop) {
    gap: 0;
    padding-bottom: 8rem;
  }

  &__description {
    max-width: 33.75rem;
    margin-inline: auto;
    text-align: center;
    padding: 0 1rem;

    @include c.respond(tab-port) {
      text-align: left;
    }

    @include c.respond(desktop) {
      padding: 0;
    }

    h1 {
      color: var(--dark);
      font-size: clamp(2.25rem, -2.6389rem + 10.1852vw, 5rem);
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.025em;

      margin-bottom: 1rem;

      @include c.respond(tab-port) {
        margin-bottom: 3rem;
        line-height: 1;
      }
    }

    p {
      line-height: 1.625;
    }

    h1 + p,
    h1 + a {
      font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem);
    }

    &__button {
      display: inline-block;

      background-color: var(--dark);
      border: 1px solid var(--dark);
      border-radius: 1rem;
      color: var(--white);
      font-weight: 700;
      line-height: 1;
      padding: 1rem 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 3rem;

      @media (hover: hover) {
        &:hover {
          background-color: var(--white);
          color: var(--dark);
        }
      }

      @include c.respond(tab-port) {
        margin-bottom: 6.5rem;
        margin-top: 3rem;
      }
    }

    &__logos {
      max-width: 32rem;
      display: grid;
      align-items: center;
      gap: 1.75rem;
      grid-template-columns: repeat(4, auto);

      img {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &__images {
    max-width: 30rem;
    margin-inline: auto;
    grid-row-start: 1;

    @include c.respond(tab-port) {
      grid-column-start: 2;
    }
  }
}
