.overlay {
  display: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  width: 100dvw;
  width: 100vw;
  z-index: 39;
}

.hidden {
  display: block;
}

.overflow {
  overflow: hidden;
}

.active-list {
  transform: translateY(0) scale(1) !important;
}

.active {
  transform: translateX(0) !important;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
