:root {
  --dark: #151515;
  --light: #fafafa;
  --white: #fff;
  --greyLight: #adadad;
  --greyDark: #686868;
  --color100: #726cee;
  --color200: #4bb1da;
  --color300: #edd556;
  --color400: #8e4cb6;

  --ff: "Epilogue", "sans-serif";
  --itemShadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
}
